<a href="https://colab.research.google.com/github/Hemantr05/recommendation_systems/blob/main/content_based_recommendation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
!wget "https://files.grouplens.org/datasets/movielens/ml-25m.zip"
!unzip ml-25m.zip

--2022-01-10 13:33:17--  https://files.grouplens.org/datasets/movielens/ml-25m.zip
Resolving files.grouplens.org (files.grouplens.org)... 128.101.65.152
Connecting to files.grouplens.org (files.grouplens.org)|128.101.65.152|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 261978986 (250M) [application/zip]
Saving to: ‘ml-25m.zip’

ml-25m.zip          100%[===================>] 249.84M  27.4MB/s    in 9.9s

2022-01-10 13:33:27 (25.3 MB/s) - ‘ml-25m.zip’ saved [261978986/261978986]

Archive:  ml-25m.zip
   creating: ml-25m/
  inflating: ml-25m/tags.csv
  inflating: ml-25m/links.csv
  inflating: ml-25m/README.txt
  inflating: ml-25m/ratings.csv
  inflating: ml-25m/genome-tags.csv
  inflating: ml-25m/genome-scores.csv
  inflating: ml-25m/movies.csv

In [ ]:
movies = pd.read_csv('ml-25m/movies.csv')
ratings = pd.read_csv('ml-25m/ratings.csv')

### Preprocessing

In [ ]:
movies.head()

   movieId  ...                                       genres
0        1  ...  Adventure|Animation|Children|Comedy|Fantasy
1        2  ...                   Adventure|Children|Fantasy
2        3  ...                               Comedy|Romance
3        4  ...                         Comedy|Drama|Romance
4        5  ...                                       Comedy

[5 rows x 3 columns]

So each movie has a unique ID, a title with its release year along with it (Which may contain unicode characters) and several different genres in the same field.

Let's remove the year from the title column by using pandas' replace function and store in a new year column.

Using regular expressions to find a year stored between parentheses
We specify the parantheses so we don't conflict with movies that have years in their titles

In [ ]:
movies['year'] = movies.title.str.extract('(\(\d\d\d\d\))',expand=False)
#Removing paranthesis
movies['year'] = movies.year.str.extract('(\d\d\d\d)',expand=False)
#Removing the years from the 'title' column
movies['title'] = movies.title.str.replace('(\(\d\d\d\d\))', '')
#Applying the strip function to get rid of any ending whitespace characters that may have appeared
movies['title'] = movies['title'].apply(lambda x: x.strip())

With that, let's also split the values in the Genres column into a list of Genres to simplify future use. This can be achieved by applying Python's split string function on the correct column.

In [ ]:
#Every genre is separated by a | so we simply have to call the split function on |
movies['genres'] = movies.genres.str.split('|')
movies.head()

   movieId  ...  year
0        1  ...  1995
1        2  ...  1995
2        3  ...  1995
3        4  ...  1995
4        5  ...  1995

[5 rows x 4 columns]

Since keeping genres in a list format isn't optimal for the content-based recommendation system technique, we will use the One Hot Encoding technique to convert the list of genres to a vector where each column corresponds to one possible value of the feature. This encoding is needed for feeding categorical data. In this case, we store every different genre in columns that contain either 1 or 0. 1 shows that a movie has that genre and 0 shows that it doesn't. Let's also store this dataframe in another variable since genres won't be important for our first recommendation system.

In [ ]:
#Copying the movie dataframe into a new one since we won't need to use the genre information in our first case.
moviesWithGenres = movies.copy()

#For every row in the dataframe, iterate through the list of genres and place a 1 into the corresponding column
for index, row in movies.iterrows():
    for genre in row['genres']:
        moviesWithGenres.at[index, genre] = 1
        
#Filling in the NaN values with 0 to show that a movie doesn't have that column's genre
moviesWithGenres = moviesWithGenres.fillna(0)
moviesWithGenres.head()

   movieId                        title  ... Film-Noir (no genres listed)
0        1                    Toy Story  ...       0.0                0.0
1        2                      Jumanji  ...       0.0                0.0
2        3             Grumpier Old Men  ...       0.0                0.0
3        4            Waiting to Exhale  ...       0.0                0.0
4        5  Father of the Bride Part II  ...       0.0                0.0

[5 rows x 24 columns]

In [ ]:
# preprocessing ratings df
ratings.head()

   userId  movieId  rating   timestamp
0       1      296     5.0  1147880044
1       1      306     3.5  1147868817
2       1      307     5.0  1147868828
3       1      665     5.0  1147878820
4       1      899     3.5  1147868510

In [ ]:
#Drop removes a specified row or column from a dataframe
ratings = ratings.drop('timestamp', 1)

### Let's begin by creating an input user to recommend movies to:
Notice: To add more movies, simply increase the amount of elements in the userInput. Feel free to add more in! Just be sure to write it in with capital letters and if a movie starts with a "The", like "The Matrix" then write it in like this: 'Matrix, The' .

In [ ]:
userInput = [
            {'title':'Breakfast Club, The', 'rating':5},
            {'title':'Toy Story', 'rating':3.5},
            {'title':'Jumanji', 'rating':2},
            {'title':"Pulp Fiction", 'rating':5},
            {'title':'Akira', 'rating':4.5}
         ] 
inputMovies = pd.DataFrame(userInput)
inputMovies

                 title  rating
0  Breakfast Club, The     5.0
1            Toy Story     3.5
2              Jumanji     2.0
3         Pulp Fiction     5.0
4                Akira     4.5

### Add movieId to input user

With the input complete, let's extract the input movie's ID's from the movies dataframe and add them into it.

In [ ]:
#Filtering out the movies by title
inputId = movies[movies['title'].isin(inputMovies['title'].tolist())]

#Then merging it so we can get the movieId. It's implicitly merging it by title.
inputMovies = pd.merge(inputId, inputMovies)

#Dropping information we won't use from the input dataframe
inputMovies = inputMovies.drop('genres', 1).drop('year', 1)

inputMovies

   movieId                title  rating
0        1            Toy Story     3.5
1        2              Jumanji     2.0
2      296         Pulp Fiction     5.0
3     1274                Akira     4.5
4   164600                Akira     4.5
5     1968  Breakfast Club, The     5.0

### Getting genre table for user movies
We're going to start by learning the input's preferences, so let's get the subset of movies that the input has watched from the Dataframe containing genres defined with binary values.

In [ ]:
#Filtering out the movies from the input
userMovies = moviesWithGenres[moviesWithGenres['movieId'].isin(inputMovies['movieId'].tolist())]
userMovies

       movieId                title  ... Film-Noir (no genres listed)
0            1            Toy Story  ...       0.0                0.0
1            2              Jumanji  ...       0.0                0.0
292        296         Pulp Fiction  ...       0.0                0.0
1241      1274                Akira  ...       0.0                0.0
1879      1968  Breakfast Club, The  ...       0.0                0.0
42774   164600                Akira  ...       0.0                0.0

[6 rows x 24 columns]

We'll only need the actual genre table, so let's clean this up a bit by resetting the index and dropping the movieId, title, genres and year columns.

In [ ]:
#Resetting the index to avoid future issues
userMovies = userMovies.reset_index(drop=True)

#Dropping unnecessary issues due to save memory and to avoid issues
userGenreTable = userMovies.drop('movieId', 1).drop('title', 1).drop('genres', 1).drop('year', 1)
userGenreTable

   Adventure  Animation  Children  ...  Western  Film-Noir  (no genres listed)
0        1.0        1.0       1.0  ...      0.0        0.0                 0.0
1        1.0        0.0       1.0  ...      0.0        0.0                 0.0
2        0.0        0.0       0.0  ...      0.0        0.0                 0.0
3        1.0        1.0       0.0  ...      0.0        0.0                 0.0
4        0.0        0.0       0.0  ...      0.0        0.0                 0.0
5        0.0        0.0       0.0  ...      0.0        0.0                 0.0

[6 rows x 20 columns]

### Start learning the input's preferences

To do this, we're going to turn each genre into weights. We can do this by using the input's reviews and multiplying them into the input's genre table and then summing up the resulting table by column. This operation is actually a dot product between a matrix and a vector, so we can simply accomplish by calling Pandas's "dot" function.

In [ ]:
inputMovies['rating']

0    3.5
1    2.0
2    5.0
3    4.5
4    4.5
5    5.0
Name: rating, dtype: float64

In [ ]:
#Dot produt to get weights
userProfile = userGenreTable.transpose().dot(inputMovies['rating'])

#The user profile
userProfile

Adventure             10.0
Animation              8.0
Children               5.5
Comedy                13.0
Fantasy                5.5
Romance                0.0
Drama                  9.5
Action                 9.5
Crime                 10.0
Thriller              10.0
Horror                 0.0
Mystery                0.0
Sci-Fi                 4.5
IMAX                   0.0
Documentary            0.0
War                    0.0
Musical                0.0
Western                0.0
Film-Noir              0.0
(no genres listed)     0.0
dtype: float64

Now, we have the weights for every of the user's preferences. This is known as the User Profile. Using this, we can recommend movies that satisfy the user's preferences.

Let's start by extracting the genre table from the original dataframe:

In [ ]:
#Now let's get the genres of every movie in our original dataframe
genreTable = moviesWithGenres.set_index(moviesWithGenres['movieId'])

#And drop the unnecessary information
genreTable = genreTable.drop('movieId', 1).drop('title', 1).drop('genres', 1).drop('year', 1)
genreTable.head()

         Adventure  Animation  Children  ...  Western  Film-Noir  (no genres listed)
movieId                                  ...
1              1.0        1.0       1.0  ...      0.0        0.0                 0.0
2              1.0        0.0       1.0  ...      0.0        0.0                 0.0
3              0.0        0.0       0.0  ...      0.0        0.0                 0.0
4              0.0        0.0       0.0  ...      0.0        0.0                 0.0
5              0.0        0.0       0.0  ...      0.0        0.0                 0.0

[5 rows x 20 columns]

In [ ]:
genreTable.shape

(62423, 20)

With the input's profile and the complete list of movies and their genres in hand, we're going to take the weighted average of every movie based on the input profile and recommend the top twenty movies that most satisfy it.

In [ ]:
#Multiply the genres by the weights and then take the weighted average
recommendationTable = ((genreTable*userProfile).sum(axis=1))/(userProfile.sum())
recommendationTable.head()

movieId
1    0.491228
2    0.245614
3    0.152047
4    0.263158
5    0.152047
dtype: float64

In [ ]:
#Sort our recommendations in descending order
recommendationTable = recommendationTable.sort_values(ascending=False)

#Just a peek at the values
recommendationTable.head()

movieId
5018      0.730994
144324    0.725146
64645     0.725146
81132     0.725146
122787    0.725146
dtype: float64

### Now here's the recommendation table!

In [ ]:
#The final recommendation table
movies.loc[movies['movieId'].isin(recommendationTable.head(20).keys())]

       movieId  ...  year
4614      4719  ...  2001
4912      5018  ...  1991
8253      8968  ...  2004
8638     26184  ...  1968
9177     27344  ...  1999
9542     31367  ...  1994
9636     31921  ...  1976
12879    64645  ...  1968
15178    80219  ...  2010
15389    81132  ...  2010
22523   115333  ...  1940
22553   115479  ...  1951
23306   117646  ...  2000
23630   118782  ...  2003
25008   122787  ...  1959
25379   123598  ...  1967
33940   144324  ...  2008
36115   149488  ...  2008
42608   164226  ...  2016
56568   194440  ...  2018

[20 rows x 4 columns]

### Advantages and Disadvantages of Content-Based Filtering

**Advantages**

* Learns user's preferences
* Highly personalized for the user

**Disadvantages**

* Doesn't take into account what others think of the item, so low quality item recommendations might happen
* Extracting data is not always intuitive
* Determining what characteristics of the item the user dislikes or likes is not always obvious